/* Секция - Чем мы занимаемся */

.activity {
  margin: 0 auto;
  padding-top: 0;

  @include mq(desktop) {
    & {
      display: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}

/* Горизонтальное размещение Flex */

.activity-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;

  /* Тескт поверх картинок секции преимущества */

  &__label {
    display: block;
    width: 370px;
    height: 70px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
  }
}
/* Очистка отступа элемента */

.activity-list__item + .activity-list__item {
  margin-left: 30px;
}

/* Контейнер для оформления */

.thumb {
  position: relative;
}

.thumb > .activity-list__label {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}
