/* Страница Портфолио */
/* Меню для выбора фильтров */

.filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  // justify-content: center;
}
/* Очистка крайнего отсупа элемента */

.filter-list__item + .filter-list__item {
  margin-left: 8px;
}
.filter-list__item:nth-child(4) {
  margin-left: 0;
}
.filter-list__item:nth-child(1) {
  margin-bottom: 15px;
}
.filter-list__item:nth-child(2) {
  margin-bottom: 15px;
}
.filter-list__item:nth-child(3) {
  margin-bottom: 15px;
}
/* Стиль текта названия кнопок */

.filter-list__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  /* Стили кнопок фильтров */

  background: $filter-static-color;
  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
  box-shadow: none;
  transition: background $transition-time $transition-function,
    box-shadow $transition-time $transition-function,
    color $transition-time $transition-function;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background: $static-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
  }
}

/* Секция - Проекты студии */

.projects {
  margin: 0 auto;
}
.projects-list {
  list-style-type: none;
  padding: 0;
  // margin-top: 50px;
  margin: 0;
  margin-top: 40px;

  // display: flex;
  // flex-wrap: nowrap;

  &__item {
    max-width: 450px;
    // width:370px;
    background: $primary-white-color;
    margin-bottom: 30px;
    box-shadow: none;
    border: none;
    transition: box-shadow $transition-time $transition-function;
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  // &__item:nth-last-child(-n + 3) {
  //   margin-bottom: 0;
  // }
  // &__item:nth-child(3n + 2) {
  //   margin-left: 30px;
  // }
  // &__item:nth-child(3n) {
  //   margin-left: 30px;
  // }

  /* Стиль текста - Название проекта */

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-text-color;
    margin: 0;
    padding: 0;
  }

  /* Стиль текста - Тип проекта */

  &__type {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    margin: 0;
    padding: 0;
    margin-top: 4px;
  }

  &__link {
    text-decoration: none;
  }

  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__text {
    position: absolute;
    display: block;
    height: 100%;
    margin: 0;
    padding: 77px 24px;

    top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    background: rgba(33, 150, 243, 0.9);
    color: $primary-white-color;

    transform: translateY(100%);
    transition-property: transform;
    transition-duration: $transition-time;
    transition-timing-function: $transition-function;
  }

  &__item:hover .projects-list__text,
  &__item:focus .projects-list__text {
    transform: translateY(0);
  }
}

/* Прорисовка нижней рамки внизу картинок проектов */

.cont-border {
  // width: 370px;
  // height: 110px;
  // width: 370px;
  // height: 110px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  /* Установим стили правой рамки */
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  /* Установим стили нинжней рамки */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  /* Установим стили левой рамки */
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

/* Оформление слайда текста с фоном поверх изображения */

.projects__thumb {
  position: relative;
  overflow: hidden;
  max-width: 450px;
  min-width: 270px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .filter-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  /* Очистка крайнего отсупа элемента */

  .filter-list__item + .filter-list__item {
    margin-left: 8px;
  }

  /* Стиль текта названия кнопок */

  .filter-list__button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    /* Стили кнопок фильтров */

    background: $filter-static-color;
    border-radius: 4px;
    border-width: 0;
    padding: 6px 22px;
    box-shadow: none;
    transition: background $transition-time $transition-function,
      box-shadow $transition-time $transition-function,
      color $transition-time $transition-function;

    &:hover,
    &:focus {
      color: $primary-white-color;
      background: $static-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      border-width: 0;
      cursor: pointer;
    }
  }

  /* Секция - Проекты студии */

  .projects {
    margin: 0 auto;
  }
  .projects-list {
    list-style-type: none;
    padding: 0;
    padding-top: 30px;
    // margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    // margin-top: 40px;

    &__item {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
      // width:370px;
      background: $primary-white-color;
      // margin-bottom: 30px;
      box-shadow: none;
      border: none;
      transition: box-shadow $transition-time $transition-function;
    }
    // &__item:first-child {
    //   height: 440px;
    // }
    &__item:last-child {
      margin-bottom: 0;
    }
    // &__item:nth-last-child(-n + 3) {
    //   margin-bottom: 0;
    // }
    // &__item:nth-child(3n + 2) {
    //   margin-left: 30px;
    // }
    // &__item:nth-child(3n) {
    //   margin-left: 30px;
    // }

    /* Стиль текста - Название проекта */

    &__name {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $title-text-color;
      margin: 0;
      padding: 0;
    }

    /* Стиль текста - Тип проекта */

    &__type {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.03em;
      color: $secondary-text-color;
      margin: 0;
      padding: 0;
      margin-top: 4px;
    }
    .projects-list__type--first {
      margin-bottom: 36px;
    }
    &__link {
      text-decoration: none;
    }

    &__item:hover,
    &__item:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &__text {
      position: absolute;
      display: block;
      margin: 0;
      padding: 63px 24px;
      top: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.556;
      letter-spacing: 0.03em;
      background: rgba(33, 150, 243, 0.9);
      color: $primary-white-color;

      transform: translateY(100%);
      transition-property: transform;
      transition-duration: $transition-time;
      transition-timing-function: $transition-function;
    }

    &__item:hover .projects-list__text,
    &__item:focus .projects-list__text {
      transform: translateY(0);
    }
  }

  /* Прорисовка нижней рамки внизу картинок проектов */

  .cont-border {
    // width: 370px;
    // height: 110px;
    // width: 370px;
    // height: 110px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    /* Установим стили правой рамки */
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #eeeeee;

    /* Установим стили нинжней рамки */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;

    /* Установим стили левой рамки */
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #eeeeee;
  }

  /* Оформление слайда текста с фоном поверх изображения */

  .projects__thumb {
    position: relative;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list {
    list-style-type: none;
    padding: 0;
    padding-top: 30px;
    // margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    // margin-top: 40px;

    &__item {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }
  .projects-list .projects-list__type--first {
    margin-bottom: 0;
  }
}
