/* Секция - Слоган студии */
// Mobile viewport

.slogan {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/slogan_section/slogan_sm.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Стиль слогана */

  &__statement {
    margin: 0px auto;
    max-width: 696px;
    max-height: 120px;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
  }

  &__button {
    /* Стиль кнопки - заказать работу */

    display: inline-block;
    width: 200px;
    height: 50px;
    background: $static-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    transition: background $transition-time $transition-function;

    /* Стиль текста кнопки- Заказать услугу */

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    padding: 0;
    color: $primary-white-color;
  }

  &__button:hover,
  &__button:focus {
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .slogan {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/slogan_section/slogan_sm@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
// Для отзывчивых
// фоновых изображений использованы медиа-фукции
/* Стиль слогана */

@include mq(tablet) {
  .slogan {
    max-width: 768px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/slogan_section/slogan_md.jpg");
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slogan {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/slogan_section/slogan_md@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
/* Стиль слогана */

@include mq(desktop) {
  .slogan {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/slogan_section/slogan_bg.jpg");

    &__statement {
      font-size: 44px;
      line-height: 1.363;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .slogan {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/slogan_section/slogan_bg@2x.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
