$primary-text-color: #212121;
$secondary-text-color: #757575;
$title-text-color: #212121;
$static-color: #2196f3;
$filter-static-color: #f5f4fa;
$accent-color: #188ce8;
$primary-white-color: #ffffff;
$logo-color: #afb1b8;
$initial-logo-color: #212121;
$hover-icon-color: #2196f3;
$transition-time: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
